rough/devNotebook.ipynb
rough/HPGLSpirograph.ipynb
rough/svg2hpgl_devNotebook.ipynb
rough/svgSpirographGenerator.py
rough/Turtle_GUI.py
rough/TurtleNotebook.ipynb
rough/TurtleNotebook.py
argparserTest.py
